In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
df.shape

(891, 12)

In [6]:
df.replace("?", np.nan, inplace = True)
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
missing_data = df.isnull().sum()
missing_data

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## deal with missing data

In [8]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
df.Age = df.Age.fillna(df.Age.mean())
df.Age.isna().sum()

0

In [10]:
df = df.drop(['Cabin'],axis=1)

In [11]:
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [12]:
df.Embarked.replace(np.nan, 'S', inplace = True)

In [13]:
df.Embarked.isna().sum()

0

In [14]:
df['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

## check data types

In [15]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

## normalization

In [16]:
from sklearn import preprocessing
# Create x, where x the 'Fare' column's values as floats
x = df[['Fare']].values.astype(float)

# Create a minimum and maximum processor object
min_max_scaler = preprocessing.MinMaxScaler()

# Create an object to transform the data to fit minmax processor
x_scaled = min_max_scaler.fit_transform(x)

# Run the normalizer on the dataframe
df['Fare'] = pd.DataFrame(x_scaled)

In [17]:
df.Fare.head()

0    0.014151
1    0.139136
2    0.015469
3    0.103644
4    0.015713
Name: Fare, dtype: float64

## data encoding

In [18]:
from sklearn.preprocessing import LabelEncoder
df.Sex = LabelEncoder().fit_transform(df.Sex.astype(str))

In [19]:
dummy_variable_1 = pd.get_dummies(df["Embarked"])
dummy_variable_1.head()

   C  Q  S
0  0  0  1
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1

In [20]:
dummy_variable_1.rename(columns={'Embark-type':'C', 'Embark-type':'Q','Embark-type':'S'}, inplace=True)
dummy_variable_1.head()

   C  Q  S
0  0  0  1
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1

In [21]:
# merge data frame "df" and "dummy_variable_1" 
df = pd.concat([df, dummy_variable_1], axis=1)

# drop original column "fuel-type" from "df"
df.drop("Embarked", axis = 1, inplace=True)

In [22]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,C,Q,S
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,0.014151,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,0.139136,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,0.015469,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,0.103644,0,0,1
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,0.015713,0,0,1

In [23]:
df = df.drop(['Name'],axis=1)
df = df.drop(['Ticket'],axis=1)

In [24]:
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch      Fare  C  Q  S
0            1         0       3    1  22.0      1      0  0.014151  0  0  1
1            2         1       1    0  38.0      1      0  0.139136  1  0  0
2            3         1       3    0  26.0      0      0  0.015469  0  0  1
3            4         1       1    0  35.0      1      0  0.103644  0  0  1
4            5         0       3    1  35.0      0      0  0.015713  0  0  1

In [25]:
x_train= df.drop(['Fare'],axis=1)
y_train = df['Fare']

### Feature selection using filter method

In [26]:
from sklearn.feature_selection import VarianceThreshold
quasidf=VarianceThreshold(threshold=0.1) #It will search for the features having 90% of same value in all samples.
quasidf.fit(x_train)

VarianceThreshold(threshold=0.1)

In [27]:
quasidf.get_support()
#True: Not a quasi constant feature
#False: Quasi constant feature(It contains 90% same value in all samples.)

array([ True,  True,  True,  True,  True,  True,  True,  True, False,
        True])

In [28]:
from sklearn.feature_selection import VarianceThreshold
quasidf2=VarianceThreshold(threshold=0.01) #It will search for the features having 99% of same value in all samples.
quasidf2.fit(x_train)

VarianceThreshold(threshold=0.01)

In [29]:
quasidf2.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

### feature selection using Wrapper methods

#### forward feature selection

In [31]:
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from sklearn.ensemble import RandomForestRegressor
model=sfs(RandomForestRegressor(),k_features=5,forward=True,verbose=5,cv=5,n_jobs=-1,scoring='r2')
model.fit(x_train,y_train)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   4 out of  10 | elapsed:   26.4s remaining:   39.6s
[Parallel(n_jobs=-1)]: Done   7 out of  10 | elapsed:   26.5s remaining:   11.3s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:   27.8s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:   27.8s finished

[2019-11-24 20:52:14] Features: 1/5 -- score: 0.3546102739084759[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 out of   9 | elapsed:    0.2s remaining:    0.9s
[Parallel(n_jobs=-1)]: Done   4 out of   9 | elapsed:    0.2s remaining:    0.3s
[Parallel(n_jobs=-1)]: Done   6 out of   9 | elapsed:    0.2s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed:    0.3s finished

[2019-11-24 20:52:14] Features: 2/5 -- score: 0.4442212724135303[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of   8 | elapsed:    0.1s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done   5 out of   8 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   8 out of   8 | elapsed:    0.2s finished

[2019-11-24 20:52:14] Features: 3/5 -- score: 0.4963644523951828[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 out of   7 | elapsed:    0.1s remaining:    0.5s
[Parallel(n_jobs=-1)]: Done   4 out of   7 | elapsed:    0.1s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done   7 out of   7 | elapsed:    0.2s finished

[2019-11-24 20:52:14] Features: 4/5 -- score: 0.5127261998582814[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of   6 | elapsed:    0.1s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done   6 out of   6 | elapsed:    0.2s finished

[2019-11-24 20:52:15] Features: 5/5 -- score: 0.5011557476152927

SequentialFeatureSelector(clone_estimator=True, cv=5,
                          estimator=RandomForestRegressor(bootstrap=True,
                                                          criterion='mse',
                                                          max_depth=None,
                                                          max_features='auto',
                                                          max_leaf_nodes=None,
                                                          min_impurity_decrease=0.0,
                                                          min_impurity_split=None,
                                                          min_samples_leaf=1,
                                                          min_samples_split=2,
                                                          min_weight_fraction_leaf=0.0,
                                                          n_estimators='warn',
                                                          n_jobs=None,
                                                          oob_score=False,
                                                          random_state=None,
                                                          verbose=0,
                                                          warm_start=False),
                          floating=False, forward=True, k_features=5, n_jobs=-1,
                          pre_dispatch='2*n_jobs', scoring='r2', verbose=5)

In [32]:
#Get the column name for the selected feature.
model.k_feature_names_

('Survived', 'Pclass', 'SibSp', 'Parch', 'C')

In [33]:
x_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'C', 'Q', 'S'],
      dtype='object')

#### Backward feature selection

In [34]:
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from sklearn.ensemble import RandomForestRegressor
backwardModel=sfs(RandomForestRegressor(),k_features=5,forward=False,verbose=5,cv=5,n_jobs=-1,scoring='r2')
backwardModel.fit(np.array(x_train),y_train)

C:\Users\arpita.c.gupta\AppData\Roaming\Python\Python37\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\arpita.c.gupta\AppData\Roaming\Python\Python37\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\arpita.c.gupta\AppData\Roaming\Python\Python37\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\arpita.c.gupta\AppData\Roaming\Python\Python37\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\arpita.c.gupta\AppData\Roaming\Python\Python37\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   4 out of  10 | elapsed:    0.4s remaining:    0.7s
[Parallel(n_jobs=-1)]: Done   7 out of  10 | elapsed:    0.4s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    0.6s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    0.6s finished

[2019-11-24 20:52:24] Features: 9/5 -- score: 0.45672083524632934[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 out of   9 | elapsed:    0.2s remaining:    1.1s
[Parallel(n_jobs=-1)]: Done   4 out of   9 | elapsed:    0.3s remaining:    0.4s
[Parallel(n_jobs=-1)]: Done   6 out of   9 | elapsed:    0.3s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed:    0.5s finished

[2019-11-24 20:52:25] Features: 8/5 -- score: 0.4575215373065582[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of   8 | elapsed:    0.3s remaining:    0.5s
[Parallel(n_jobs=-1)]: Done   5 out of   8 | elapsed:    0.3s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done   8 out of   8 | elapsed:    0.3s finished

[2019-11-24 20:52:25] Features: 7/5 -- score: 0.42936137789827916[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 out of   7 | elapsed:    0.2s remaining:    0.6s
[Parallel(n_jobs=-1)]: Done   4 out of   7 | elapsed:    0.2s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done   7 out of   7 | elapsed:    0.2s finished

[2019-11-24 20:52:26] Features: 6/5 -- score: 0.5068682441180788[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of   6 | elapsed:    0.1s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done   6 out of   6 | elapsed:    0.2s finished

[2019-11-24 20:52:26] Features: 5/5 -- score: 0.49619249568969687

SequentialFeatureSelector(clone_estimator=True, cv=5,
                          estimator=RandomForestRegressor(bootstrap=True,
                                                          criterion='mse',
                                                          max_depth=None,
                                                          max_features='auto',
                                                          max_leaf_nodes=None,
                                                          min_impurity_decrease=0.0,
                                                          min_impurity_split=None,
                                                          min_samples_leaf=1,
                                                          min_samples_split=2,
                                                          min_weight_fraction_leaf=0.0,
                                                          n_estimators='warn',
                                                          n_jobs=None,
                                                          oob_score=False,
                                                          random_state=None,
                                                          verbose=0,
                                                          warm_start=False),
                          floating=False, forward=False, k_features=5,
                          n_jobs=-1, pre_dispatch='2*n_jobs', scoring='r2',
                          verbose=5)

In [35]:
x_train.columns[list(backwardModel.k_feature_idx_)]

Index(['Survived', 'Pclass', 'SibSp', 'Parch', 'Q'], dtype='object')

#### Exhaustive feature selection

In [36]:
from mlxtend.feature_selection import ExhaustiveFeatureSelector as efs
emodel=efs(RandomForestRegressor(),min_features=1,max_features=5,scoring='r2',n_jobs=-1)

emodel.fit(x_train,y_train)

Features: 637/637

ExhaustiveFeatureSelector(clone_estimator=True, cv=5,
                          estimator=RandomForestRegressor(bootstrap=True,
                                                          criterion='mse',
                                                          max_depth=None,
                                                          max_features='auto',
                                                          max_leaf_nodes=None,
                                                          min_impurity_decrease=0.0,
                                                          min_impurity_split=None,
                                                          min_samples_leaf=1,
                                                          min_samples_split=2,
                                                          min_weight_fraction_leaf=0.0,
                                                          n_estimators='warn',
                                                          n_jobs=None,
                                                          oob_score=False,
                                                          random_state=None,
                                                          verbose=0,
                                                          warm_start=False),
                          max_features=5, min_features=1, n_jobs=-1,
                          pre_dispatch='2*n_jobs', print_progress=True,
                          scoring='r2')

In [37]:
#Get the column name for the selected feature.
x_train.columns[list(emodel.best_idx_)]

Index(['Pclass', 'Sex', 'SibSp', 'Parch', 'Q'], dtype='object')

In [38]:
#Reference: 
#https://www.kaggle.com/raviprakash438/filter-method-feature-selection